* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  background-color: #011f3f;

  margin: auto;
}

#level-title,
p {
  font-family: "Press Start 2P", cursive;
  margin: 1.5rem 1rem 1rem 1rem;
  color: #fef2bf;
  font-weight: 800;
}
p {
  font-size: 1rem;
}
.container {
  display: flex;
  flex-flow: row wrap;
  height: auto;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.btn {
  margin-bottom: 0.5rem;
  height: 10rem;
  width: 10rem;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.start {
  text-align: center;
  height: 4rem;
  width: 10rem;
  border: 8px solid black;
  border-radius: 10px;
  background-color: #fef2bf;

  font-size: 1rem;
  font-weight: 800;
}
